.panel-heading {
    padding: 5px 15px;
}
.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}
.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.chart-opt {
    margin-top: 10px;
    padding: 0 !important;
}

.chart-opt .col-xs-2,
.chart-opt .col-xs-3,
.chart-opt .col-xs-4 {
    padding: 0px 5px !important;
}